
<%= simple_form_for(@business) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :industries %>
    <%= f.input :employees %>
    <%= f.input :other_partners %>
    <%= f.input :other_competitors %>
    <%= f.input :desired_partnership_types %>
    <%= f.input :offered_partnership_types %>
    <%= f.input :url %>
    <%= f.input :description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
