<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @business.name %>
</p>

<p>
  <strong>Industries:</strong>
  <%= @business.industries %>
</p>

<p>
  <strong>Employees:</strong>
  <%= @business.employees %>
</p>

<p>
  <strong>Other partners:</strong>
  <%= @business.other_partners %>
</p>

<p>
  <strong>Other competitors:</strong>
  <%= @business.other_competitors %>
</p>

<p>
  <strong>Desired partnership types:</strong>
  <%= @business.desired_partnership_types %>
</p>

<p>
  <strong>Offered partnership types:</strong>
  <%= @business.offered_partnership_types %>
</p>

<p>
  <strong>Url:</strong>
  <%= @business.URL %>
</p>

<p>
  <strong>Description:</strong>
  <%= @business.description %>
</p>

<%= link_to 'Edit', edit_business_path(@business) %> |
<%= link_to 'Back', businesses_path %>
