<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<div class="main-container">
    <section class="space-sm">
        <div class="container">
            <!--end of row-->
            <div class="row flex-md-row card card-lg">
                <div class="col-12 col-md-7 card-body bg-secondary">
                    <div class="text-center mb-5">
                        <h1 class="h2 mb-2">Find your Tribe.</h1>
                        <span>We are looking forward to you being a part of the Clique Family</span>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-9">
                            <form>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="text" id="company" placeholder="Company Name" />
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="text" id="firstname" placeholder="First Name" />
                                    </div>
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="text" id="lastname" placeholder="Last Name" />
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="email" id="email" placeholder="Email Address" />
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <input class="form-control form-control-lg" type="password" id="password" placeholder="Password" />
                                        <small>Password must be at least 7 characters</small>
                                    </div>
                                </div>
                                <div class="form-row form-group">
                                    <div class="col">
                                        <button class="btn btn-block btn-success btn-lg" type="submit">Create Account</button>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <span class="text-small text-muted">By clicking 'Create Account' you agree to our <a href="#">Terms</a>, <a href="#">Privacy Policy</a>&nbsp;and <a href="#">Security Policy</a>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--end of col-->
                <div class="col-12 col-md-5 card-body">
                    <div>
                        <div class="mb-5 text-center">
                            <h3 class="h2 mb-2">Features &amp; Benefits</h3>
                            <span>Our Beta is currently free for the first 1000 Users</span>
                        </div>
                        <ul class="list-unstyled list-spacing-sm mb-5 ">
                            <li class="row">
                                <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                                </div>
                                <div class="col-10">Cognitive Computing Engine creating over 20,000 datapoints per 100 Businesses.</div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                                </div>
                                <div class="col-10">Detailed View on your Businesses appearance in Search Results.</div>
                            </li>
                            <li class="row">
                                <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                                </div>
                                <div class="col-10">Tailored Partnership Reccomendations for your Business.</div>
                            </li>
                            <li class="row align-items-center">
                                <div class="col-2 col-md-1"><i class="icon-check h5 text-muted"></i>
                                </div>
                                <div class="col-10">Stakeholder Identification for quick Initial Meeting Identification.</div>
                            </li>
                        </ul>

                        <div class="card card-sm box-shadow text-left">
                            <div class="card-body p-4">
                                <div class="media">
                                    <img alt="Image" src="/assets/img/avatar-male-1.jpg" class="avatar avatar-xs" />
                                    <div class="media-body">
                                        <p class="mb-1 text-small">
                                            “Clique will be a fundamental tool I use to find partnerships in the future.”
                                        </p>
                                        <small>Daniel Cameron</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="text-center">
                <span class="text-small">Already have an account? <a href="#">Log in here</a>
                </span>
            </div>
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
</div>
